<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="/styles/style.css"
    />
    <title>Receipt</title>
  </head>
  <body>
    <div class="flex-between">
      <div>
        <img
          src="http://localhost:8080/images/pumex-mdn.png"
          alt="Your Image"
          class="responsive-image"
        />
      </div>
      <div class="text-center">
        <h3 class="headline">RECEIPT</h3>
        <h3 class="italic text-base">Kwitansi</h3>
      </div>

      <div class="receipt-info">
        <div class="grid-base">
          <h5>No </h5>
          <h5>:</h5>
          <h5 class="courier default-font-color font-normal">92038129839</h5>
        </div>
        <div class="grid-base">
          <h5>Date </h5>
          <h5>:</h5>
          <h5 class="courier default-font-color font-normal"
            >23 NOVEMBER 2034</h5
          >
        </div>
      </div>
    </div>
    <div class="input-container">
      <div class="input-row">
        <label for="input1">
          <h5 class="roman text-main">Received From</h5>
          <h5 class="roman italic text-main">Sudah terima dari</h5>
        </label>
        <textarea
          class="sumof-textarea"
          rows="1"
        >
JOKO SALMAN HAYYUK</textarea
        >
      </div>
      <div class="input-row ">
        <label for="input2">
          <h5 class="roman text-main">The sum of </h5>
          <h5 class="roman italic text-main">Banyaknya</h5>
        </label>
        <textarea class="sumof-textarea">
SEMBILAN JUTA LIMA RATUS RIBU RUPIAH TIGA RATUS DELAPAN PULUH SEMBILAN DUA BELAS</textarea
        >
      </div>

      <div class="input-row">
        <label for="input2">
          <h5 class="roman text-main">Being payment For</h5>
          <h5 class="roman italic text-main">untuk Pembayaran</h5>
        </label>
        <textarea class="sumof-textarea h-custom">
PENGIRIMAN BARANG HANDMADE TOP JERAMI DARI MEDAN KE SURABAYA
BERAT 200kg = 200 * 2000 
            = 10000
</textarea
        >
      </div>
    </div>
    <div class="footer-receipt">
      <div class="input-container-bottom">
        <label>
          <h5 class="roman text-main">Amount</h5>
          <h5 class="roman italic text-main">Jumlah</h5>
        </label>
        <textarea
          rows="1"
          class="bottom-price"
          reszice
        >
Rp. 9.028.900</textarea
        >
      </div>
      <div>
        <p class="text-center courier default-font-color">20 FEBRUARY 2034</p>
        <p class="disable-padding"
          >.....................................................</p
        >
      </div>
    </div>
  </body>
</html>
