<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="/styles/style.css"
    />
    <title>Struk Pengiriman Barang</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="image-container">
          <img
            src="http://localhost:8080/images/pumex-mdn.png"
            alt="Your Image"
            class="responsive-image"
          />
        </div>
        <div class="company_container">
          <h2 class="company_name">CV. PUTRA MANDIRI EXPRESS</h2>
          <p class="company_address"
            >JL CEMARA No.98/214 TELP. (061) 6610845, FAX. (061) 6614903</p
          >
          <p class="company_state">MEDAN-20239</p>
          <p class="company_description">
            Menerima Pengiriman Barang Melalui Darat, Udara dan Laut <br />
            kesuluruhan daerah di indonesia
          </p>
        </div>
      </div>
      <div class="full">
        <div class="letter_block">
          <h3>Surat Tanda Terima Kiriman</h3>
          <span>No: {{invoiceNumber}}</span>
        </div>
      </div>
      <div class="shipping">
        <div class="shipping_person">
          <h3>Pengirim</h3>
          <div class="shipping_text_container size_md">
            <p>Nama </p>
            <p class="text-normal">: {{sender.name}} </p>
          </div>
          <div class="shipping_text_container size_md">
            <p>Alamat </p>
            <p class="text-normal">: {{sender.address}}</p>
          </div>
        </div>
        <div class="shipping_person">
          <h3>Penerima</h3>
          <div class="shipping_text_container size_md">
            <p>Nama </p>
            <p class="text-normal">: {{recipient.name}}</p>
          </div>
          <div class="shipping_text_container size_md">
            <p>Alamat </p>
            <p class="text-normal">: {{recipient.address}}</p>
          </div>
        </div>
      </div>
      <div class="detail-barang">
        <table>
          <thead>
            <tr>
              <th class="thead_number">No.</th>
              <th class="thead_product">Jenis / Nama Barang</th>
              <th>Packing</th>
              <th class="thead_colly">Jumlah Colly</th>
              <th>Berat / Kubik</th>
              <th>Keterangan</th>
            </tr>
          </thead>
          <tbody>
            {{#productOrders}}
            <tr>
              <td>{{no}}</td>
              <td>{{name}}</td>
              <td>{{packingType}}</td>
              <td>{{quantity}}</td>
              <td>{{weight}}</td>
              <td>{{description}}</td>
            </tr>
            {{/productOrders}}
            <tr>
              <td
                rowspan="2"
                colspan="2"
              >
                <div class="payment">
                  <p class="payment_text">TAGIHAN</p>
                  <div class="payment_list">
                    <label
                      style="text-transform: uppercase;"
                      for=""
                    >
                      <input {{#payment.LUNAS}}checked{{/payment.LUNAS}}
                      type="checkbox" name="" id="" /> Lunas
                    </label>
                    <label
                      style="text-transform: uppercase;"
                      for=""
                    >
                      <input
                      {{#payment.BAYAR_TUJUAN}}checked{{/payment.BAYAR_TUJUAN}}
                      type="checkbox" name="" id="" /> Bayar Tujuan
                    </label>
                    <label for="">
                      <input {{#payment.BB}}checked{{/payment.BB}}
                      type="checkbox" name="" id="" /> BB
                    </label>
                    <label for="">
                      <input {{#payment.DP}}checked{{/payment.DP}}
                      type="checkbox" name="" id="" /> DP
                    </label>
                  </div>
                </div>
              </td>
              <td
                colspan="4"
                rowspan="2"
              >
                <div class="table_amount_container">
                  <div class="shipping_text_container size_lg">
                    <p>JUMLAH TAGIHAN </p>
                    <p>: {{totalPrice}} </p>
                  </div>
                  <div class="shipping_text_container size_lg">
                    <p>TERBILANG </p>
                    <p>: </p>
                  </div>
                </div>
              </td>
            </tr>

            <!-- Add more rows as needed -->
          </tbody>
        </table>
      </div>
      <div class="footer ">
        <div class="notes">
          <p>CATATAN</p>
          <ol
            type="1"
            class="list_container"
          >
            {{#notes}}
            <li>{{note}}</li>
            {{/notes}}
          </ol>
        </div>
        <div class="handwriting_container">
          <div class="hendwrite">
            <p
              >Cap/Tanda Tangan <br />
              Penerima</p
            >
            <span>(............................)</span>
          </div>
          <div>
            <div class="hendwrite">
              <p
                >Medan, {{ currentDate }} <br />
                Hormat Kami,
              </p>
              <span>(............................)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
