<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Tanda Terima</title>
  </head>
  <body>
    <div class="center">
      <div>
        <img
          src="http://localhost:8080/images/pumex-mdn.png"
          alt="Your Image"
          class="responsive-image"
        />
      </div>
      <div class="headline_container">
        <h3 class="tt_headline">CV. PUTRA MANDIRI EXPRESS</h3>
        <div>
          <p class="tt_address text-center"
            >JL CEMARA No.98/214 TELP. (061) 6610845, FAX. (061) 6614903</p
          >
        </div>
      </div>
    </div>
    <div class="">
      <div class="side-info ">
        <p
          >CV.SUMBER REZEKI <br />
          JL.Kapuk Muara Blok KK No.59 <br />
          Komp. Duta Harapan Indah <br />
          Jakarta Utara 14460
        </p>
      </div>
      <div class="side-info">
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>
    </div>
  </body>
</html>
